<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!--<script async defer type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCsf1yq_JUSyz9zEDWwFTP5IkP1-xg7wFw"></script>-->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="styles.css" />
  <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
  <script src="jquery.csv.js"></script>
  <script src="is-json.js"></script>
  <script src="index.js"></script>
  <title>Location JSON Converter</title>
</head>
<body>

<div class="container">
  <br>
  <section class="json">
    <form action="" id="json-form">
      <div class="form-group">
        <textarea id="json-textarea" class="form-control"></textarea>
        <span class="help-block"</span>
      </div>
      <div class="form-group btn-flex">
        <a id="clear-form" class="btn btn-warning">Clear</a>
        <div class="pull-left btn btn-default" id="load-sample">Sample Data</div>
        <button type="submit" id="json-submit" class="btn btn-info">Submit</button>
      </div>
    </form>
  </section>
</div>

<div class="container show-csv">
  <div class="clearfix">
    <h4 class="pull-left" id="result-count"></h4>
    <input type="button" value="select table" class="btn btn-sm btn-default pull-right"
      onclick="selectElementContents( document.getElementById('csv-table') );">
  </div>
  <br>

  <div id="csv-row">
    <table class="table table-bordered" id="csv-table">
      <thead id="csv-head-row"></thead>
      <tbody id="csv-body-row"></tbody>
    </table>
  </div>
</div>

<script type="text/template" id="csv-body-row-template">
  <tr>
  <% for(let prop in locs){ %>
    <td><%- locs[prop] %></td>
  <% } %>
  </tr>
</script>

<script type="text/template" id="csv-head-row-template">
  <tr>
  <% categories.forEach(cat => { %>
  <td><%- cat %></td>
  <% }) %>
  </tr>
</script>


</body>
</html>
