.json textarea, .json pre, .csv textarea, .csv .table, .json .drop {
    width: 100%;
    height: 250px;
}

.btn-flex {
    display: flex;
    justify-content: space-between;
}

.btn-flex > * {
    margin-left: 5px;
    margin-right: 5px;
}

.btn-flex #json-submit {
    flex-grow: 1;
}
